.btn-finishCustom {
  color: #fff;
  background-color: #1b31a8;
  border-color: #007bff;
  border-radius: 2.25rem;
  display: block;
  width: 70%;
  margin: auto;
}

.btn-backCustom {
  color: #fff;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 3.25rem;
  width: 30;
  height: 30;
}

.btn-inputCustom {
  background-color: #e1e8ed;
}

.leftAlign {
  padding-left: 35px;
  padding-top: 15px;
}

.rightAlign {
  text-align: right;
  vertical-align: middle;
  padding-right: 50px;
}

.lightBlueCustom {
  color: #0079ff;
}

.blueCustom {
  color: #1b31a8;
}

.bgLighGreyBlueCustom {
  background-color: #eff7ff;
}

.formDateCustom {
  text-align: center;
}


@media (min-width: 400px) {
  .container {
    max-width: 480px;
  }
}
